<div *ngIf="showCharts">
  <apx-chart class="chart"
             [chart]="speedChartOptions.chart!"
             [xaxis]="speedChartOptions.xaxis!"
             [yaxis]="speedChartOptions.yaxis!"
             [series]="speedChartOptions.series!"
             [tooltip]="speedChartOptions.tooltip!"
             [grid]="speedChartOptions.grid!"
             [stroke]="speedChartOptions.stroke!"
             [legend]="speedChartOptions.legend!"
             [markers]="drsChartOptions.markers!">
  </apx-chart>
  <apx-chart class="chart"
             [chart]="throttleChartOptions.chart!"
             [xaxis]="throttleChartOptions.xaxis!"
             [yaxis]="throttleChartOptions.yaxis!"
             [series]="throttleChartOptions.series!"
             [tooltip]="throttleChartOptions.tooltip!"
             [grid]="throttleChartOptions.grid!"
             [stroke]="throttleChartOptions.stroke!"
             [legend]="throttleChartOptions.legend!"
             [markers]="drsChartOptions.markers!">
  </apx-chart>
  <apx-chart class="chart"
             [chart]="brakeChartOptions.chart!"
             [xaxis]="brakeChartOptions.xaxis!"
             [yaxis]="brakeChartOptions.yaxis!"
             [series]="brakeChartOptions.series!"
             [tooltip]="brakeChartOptions.tooltip!"
             [grid]="brakeChartOptions.grid!"
             [stroke]="brakeChartOptions.stroke!"
             [legend]="brakeChartOptions.legend!"
             [markers]="drsChartOptions.markers!">
  </apx-chart>
  <apx-chart class="chart"
             [chart]="gearChartOptions.chart!"
             [xaxis]="gearChartOptions.xaxis!"
             [yaxis]="gearChartOptions.yaxis!"
             [series]="gearChartOptions.series!"
             [tooltip]="gearChartOptions.tooltip!"
             [grid]="gearChartOptions.grid!"
             [stroke]="gearChartOptions.stroke!"
             [legend]="gearChartOptions.legend!"
             [markers]="drsChartOptions.markers!">
  </apx-chart>
  <apx-chart class="chart"
             [chart]="drsChartOptions.chart!"
             [xaxis]="drsChartOptions.xaxis!"
             [yaxis]="drsChartOptions.yaxis!"
             [series]="drsChartOptions.series!"
             [tooltip]="drsChartOptions.tooltip!"
             [grid]="drsChartOptions.grid!"
             [stroke]="drsChartOptions.stroke!"
             [legend]="drsChartOptions.legend!"
             [markers]="drsChartOptions.markers!">
  </apx-chart>
</div>
