.github-button {
  display: inline-flex;
  align-items: center;
  padding: 10px 20px;
  background-color: #1C1C1C;
  color: #fff;
  text-decoration: none;
  border-radius: 15px;
  font-size: 16px;
  font-weight: bold;
}

.github-button img {
  margin-right: 10px;
}
